# NetBeans-specific
nbproject/private/
nbproject/Makefile-*
nbproject/configs/
build/
dist/
**/build/
**/dist/

nbproject/project.properties
nbproject/build-impl.xml

# Ignore NetBeans project files
OLIT/nbproject/private/
OLIT/nbproject/build-impl.xml
OLIT/nbproject/project.properties

# OLIT-specific
OLIT/build/
OLIT/dist/
OLIT/web/WEB-INF/lib/
OLIT/web/WEB-INF/classes/
OLIT/allowedlib/

# Java build files
*.class
*.jar
*.war
hs_err_pid*

# IDEs & System
*.iml
*.ipr
*.iws
.idea/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Env files
.env
*.env

# Backup
*~
*.bak
